body {
  margin: 60;
  background-color: #9093a7;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New',
    monospace;
}

.app {
  background: #75abc6;
  padding: 30px;
  height: 100vh;
}

.todo-list{
  background: #4794f1;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 8px;
  padding: 10px;
  max-width: 400px;
}

.todo{
  background: rgb(190, 203, 49);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}